/**
 * Plugin Name: Z Text Upfunker
 * Admin styles
 * 
 * Author: Zodan
 * Author URI: https://zodan.nl
 */
:root {
    --zmam-color-red: #f00;
    --zmam-color-bg-warning: #666;
    --zmam-color-text-warning: #fff;
    --zmam-color-bg-panel: #fff;
    --zmam-color-text-panel: #fff;
    --zmam-color-bg-icon-picked: #000;;
    --zmam-color-text-icon-picked: #fff;
    --zmam-color-bg-icon-picker-container: #fff;
    --zmam-color-box-shadow-icon-picker-container: 0 1px 2px rgba(0, 0, 0, 0.1);
    --zmam-width-icon-picker-icon: 20px;
    --zmam-height-icon-picker-icon: 20px;
    --zmam-color-icon-picker-item: #373737;
    --zmam-color-border-icon-picker-item: #dfdfdf;
    --zmam-color-border-icon-picker-item-hover: #999;
    --zmam-color-bg-icon-picker-item-hover: #efefef;
    --zmam-color-text-notice: #000;

    --z-padding-left: 6px;
    --z-padding-right: 6px;
}
.wrap > h1.ztu-title {
    font-size: 30px;
    line-height: 1.3;
}
h2.ztu-smaller {
    font-size: 1.1em;
}
p.intro {
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 0.75em;
}
.wp-badge.z-logo-zodan {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjgwIiBoZWlnaHQ9IjgwIiB2aWV3Qm94PSIwIDAgODAgODAiPjxwYXRoIGlkPSJ6b2RhbiIgc3R5bGU9ImZpbGw6I2ZmZmZmZjsiIGQ9Ik00MCwwQzE3LjksMCwwLDE3LjksMCw0MHMxNy45LDQwLDQwLDQwLDQwLTE3LjksNDAtNDBTNjIuMSwwLDQwLDBaTTYwLjcsNDB2MjEuNEgxOS4zbDExLjQtMjEuNGgtMTEuNHYtMjEuNGg0MS40bC0xMS40LDIxLjRzMTEuNCwwLDExLjQsMFoiLz48L3N2Zz4=");
}

#adminmenu a[href="options-general.php?page=z_text_upfunker"]:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    opacity: 0.6;
    vertical-align: bottom;
    margin-right: 8px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjkuNS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMi4xLjAgQnVpbGQgMTQxKSAgLS0+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5zdDAgewogICAgICAgIGZpbGw6ICNmZmY7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNTUsMEMxMTMuNCwwLTEsMTE0LjQtMSwyNTZzMTE0LjQsMjU2LDI1NiwyNTYsMjU2LTExNC40LDI1Ni0yNTZTMzk1LjcsMCwyNTUsMFpNMTU4LjgsMjc4LjdsMTcuMi0xMzMuNGMwLTkuMSw5LjEtMTYuMywxOS4xLTE2LjNoOThjOS4xLDAsMTYuMyw3LjMsMTYuMywxNi4zczAsMy42LDAsNS40bC0yNy4yLDcyLjZoODEuN2MxMS44LDAsMjEuOCwxMCwyMS44LDIxLjhzMCw4LjItMy42LDExLjhsLTExMi42LDE2NC4zYy0zLjYsNS40LTkuMSw4LjItMTUuNCw4LjJoLTEuOGMtOS4xLDAtMTcuMi03LjMtMTcuMi0xNy4yczAtMi43LDAtMy42bDI3LjItMTA5LjhoLTg0LjRjLTEwLjksMC0xOS4xLTguMi0xOS4xLTE5LjFoMHYtLjlaIi8+Cjwvc3ZnPg==")
}
#adminmenu .current a[href="options-general.php?page=z_text_upfunker"]:before {
    opacity: 0.9;
}
.form-table th span.description {
    display: block;
    font-weight: 400;
    margin-top: 6px;
}
.btn-switch-faux {
    background:#25ab84;
    color: white;
    border-radius: 5px;
    padding: 0 8px;
}





/*
 * Details - harmonica
 *
 */
h2:has(+ details.z-ts-faq) {
    margin-top: 60px;
}
details.z-ts-faq {
	padding: 0 2px;
	border-bottom: 1px solid #d9d9d9;
}
details.z-ts-faq:first-of-type {
	border-top: 1px solid #d9d9d9;
}
details.z-ts-faq[open] > summary {
	border-bottom: 1px dashed #d5d5d5;
}
details.z-ts-faq summary { 
	cursor: pointer;
}
details.z-ts-faq summary h3 {
	font-size: 14px;
}

details.z-ts-faq summary > * {
	display: inline;
}
.z-ts-faq summary  {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
/* sigh, Safari again */
.z-ts-faq summary::-webkit-details-marker {
	display: none;
}
.z-ts-faq summary::after {
	content: "+";
	font-size: 30px;
	font-weight: 400;
}
details.z-ts-faq[open] {
    padding-bottom: 20px;
}
details.z-ts-faq[open] > summary::after {
	content: "-";
}
details.z-ts-faq[open] > summary::before {
	content: "";
	position: absolute;
	width: calc(100% + var(--z-padding-left) + var(--z-padding-right));
	height: 0.1rem;
	left: calc( -1 * var(--z-padding-left) );
	bottom: -1rem;
	background-color: rgba(255,255,255,0.2);
}
details.z-ts-faq ul.inner-list {
    list-style: square outside;
    padding-left: 12px;
}
details.z-ts-faq ul.inner-list li {
    padding-left: 0;
}



/*
 * Details - help
 *
 */

details.z-tu-help {
	padding: 0 2px;
    max-width: 610px;
    margin-bottom: 30px;
}
details.z-tu-help summary { 
	cursor: pointer;
}
details.z-tu-help summary h2 {
    font-size: 14px;
    color: #2271b1;
    transition: color 150ms ease-in-out;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
details.z-tu-help summary:hover h2 {
    color: #135e96;
}
details.z-tu-help summary:focus h2 {
    color: #2271b1;
}
details.z-tu-help summary > * {
	display: inline;
}
.z-tu-help summary  {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
/* sigh, Safari again */
.z-tu-help summary::-webkit-details-marker {
	display: none;
}
.z-tu-help summary::after {
	content: "";
	font-size: 30px;
	font-weight: 400;
}
details.z-tu-help[open] {
    padding-bottom: 20px;
}
details.z-tu-help[open] > summary::after {
	content: "+";
    transform: rotate(45deg);
}
details.z-tu-help ol,
details.z-tu-help ul {
    --border-radius: 10px;
    --padding-item: 20px;
    --padding-item-left: 40px;
    --padding-item-child-left: 8px;
    background: #e2e2e2;
    font-size: 14px;
    padding: var(--padding-item) var(--padding-item) var(--padding-item) var(--padding-item-left);
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
    border-radius: var(--border-radius);
}
details.z-tu-help ol:has( + ul ),
details.z-tu-help ul:has( + ol ) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
details.z-tu-help ol + ul,
details.z-tu-help ul + ol {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

details.z-tu-help[open] ol,
details.z-tu-help[open] ul {
    opacity: 1;
}
details.z-tu-help ol {
    counter-reset: stepsCounter -1;
}
details.z-tu-help ol li,
details.z-tu-help ul li {
    position: relative;
    padding-left: var(--padding-item-child-left);
    margin-bottom: 15px;
    counter-increment: stepsCounter;
}
details.z-tu-help ol li::before {
    box-sizing: border-box;
    position: absolute;
    content: counter(stepsCounter);
    padding: 0;
    display: flex;
    width: 24px;
    height: 24px;
    left: -22px;
    top: -3px;
    text-align: center;
    background: #d2d2d2;
    color: inherit;
    flex-direction: column;
    z-index: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 740;
    font-size: 12px;
}
details.z-tu-help ol li:first-child {
    list-style: none;
    left: calc( -1 * ( var(--padding-item-left) - var(--padding-item) + var(--padding-item-child-left)) );
}
details.z-tu-help ol li:first-child::before {
    display: none;
}

details.z-tu-help ul.featured-anim-list {
    list-style: square;
}
details.z-tu-help ul.featured-anim-list li {
    margin-bottom: 8px;
}
details.z-tu-help ul li:first-child {
  list-style: none;
  left: calc( -1 * ( var(--padding-item-left) - var(--padding-item) + var(--padding-item-child-left)) );
}





details ol li em {
  text-decoration: underline red;
}
details.z-tu-help > ol > li > span {
    display: block;
    padding-top: 7px;
}
details code {
    background: rgba(0,0,0,0.4);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    color: #fff;
}





.z-warning {
    background: var(--zmam-color-bg-warning);
    color: var(--zmam-color-text-warning);
    padding: 0.25rem 1rem;
    border-radius: 0.4rem;
}
p#no-funk {
    margin-bottom: 2em;;
}
.ia_items th {
    display: none;
}
.z-text-upfunker-ia-item {
    background: var(--zmam-color-bg-panel);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: start;
    gap: 10px;
    max-width: 650px;
}
.z-text-upfunker-ia-item p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 200px;
    width: auto;
}
.z-text-upfunker-ia-item p:has(input[type="number"]) {
    flex-basis: 100px;
}
.z-text-upfunker-ia-item p .ztu-input {
    width: 100%;
}


.z-text-upfunker-btn-add-ia i {
    margin-top: 4px;
}
.z-text-upfunker-btn-remove-ia {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background: var(--zmam-color-red);
    color: var(--zmam-color-text-warning);
    border-radius: 50%;
    line-height: 17px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
}
.z-text-upfunker-ia-item label {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: 0.25px;
  padding-left: 10px;
}


.zThanks {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.zThanks a {
    text-decoration: none;
    color: inherit;
}
.zThanks .heart {
	fill: #F6017A;
}
.zThanks a {
    text-decoration: none;
    color: inherit;
}
.zThanks a:hover {
    text-decoration: underline;
    color: #F6017A;
}
.zThanks svg {
	width: 14px;
	height: auto;
	vertical-align: middle;
	margin: 0 0.4rem;
}
.zThanks svg {
	animation: 1.75s linear infinite z-heart-pulse;
}
@keyframes z-heart-pulse {
	0% { transform: scale(1); }
	20% { transform: scale(1.2); }
	40% { transform: scale(1); }
	60% { transform: scale(1.2); }
	100% { transform: scale(1); }
}





#z_text_upfunker_notices {
    background-color: #08B2CA45;
    background-image: radial-gradient(#6fc4d2 1px, transparent 0);
    background-size: 11px 11px;
    background-position: -8px -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px 10px 20px;
    border-left-width: 8px;
    border-color: #08B2CA45;
    border-left-color: #08B2CA;
    border-radius: 6px;
  }
#z_text_upfunker_notices p {
    color: var(--zmam-color-text-notice);
    font-size: 15px;
}
#z_text_upfunker_notices .notice-dismiss {
    position: relative;
}
#z_text_upfunker_notices .notice-dismiss::before {
    color: var(--zmam-color-text-notice);
    font-size: 20px;
}
#z_text_upfunker_notices .notice-dismiss:hover::before {
    color: var(--zmam-color-text-notice);
    transform: scale(1.1);
}